{% extends 'base.html.twig' %}

{% block title %}Liste des demandes{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/assist.css') }}?v={{ random() }}">
{% endblock %}

{% block body %}
  <div class="assist-container">
    <div class="assist-card">

      <h1 class="assist-title">Liste des demandes</h1>

      <div class="assist-table-wrap">
        <table class="assist-table assist-table--spacious">
          <thead>
            <tr>
              <th class="assist-col-id">Id</th>
              <th class="assist-col-email">Email</th>
              <th class="assist-col-message">Message</th>
            </tr>
          </thead>
          <tbody>
            {% for demande in demandesAssistances %}
              <tr>
                <td class="assist-col-id">{{ demande.id }}</td>
                <td class="assist-col-email">{{ demande.email }}</td>
                <td class="assist-col-message">
                  <div class="assist-message">{{ demande.message }}</div>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="3" class="assist-center">Aucune demande trouvée</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}
