{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}


{% block body %}
  <div class="profil-container">
    <h1>Modifier mon Profil</h1>

    {% for message in app.flashes('success') %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <img id="avatarPreview"
         src="{{ asset(user.avatar ? 'uploads/avatars/' ~ user.avatar : 'images/default-avatar.png') }}"
         alt="Avatar"
         class="avatar-preview">

    {{ form_start(profilForm, {'attr': {'enctype':'multipart/form-data'}}) }}
      {{ form_row(profilForm.pseudo) }}
      {{ form_row(profilForm.prenom) }}
      {{ form_row(profilForm.nom) }}
      {{ form_row(profilForm.email) }}
      {{ form_row(profilForm.avatar, {'attr': {'onchange': 'previewAvatar(event)'}}) }}
      <button class="btn-submit mt-3">Enregistrer</button>
    {{ form_end(profilForm) }}
  </div>

  <script>
    function previewAvatar(event){
      const input = event.target;
      if(input.files && input.files[0]){
        const reader = new FileReader();
        reader.onload = e => document.getElementById('avatarPreview').src = e.target.result;
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
{% endblock %}
