{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
	<div class="profil-container">
		<h1>Mon Profil</h1>

		<img src="{{ asset(user.avatar ? 'uploads/avatars/' ~ user.avatar : 'images/default-avatar.png') }}" alt="Avatar" class="profil-avatar">

		<div class="profil-info">
			<p>
				<strong>Pseudo :</strong>
				{{ user.pseudo }}</p>
			<p>
				<strong>Prénom :</strong>
				{{ user.prenom }}</p>
			<p>
				<strong>Nom :</strong>
				{{ user.nom }}</p>
			<p>
				<strong>Email :</strong>
				{{ user.email }}</p>
			<a href="{{ path('commande_historique') }}" class="btn btn-primary">Voir mon historique de commandes</a>
		</div>

		<a href="{{ path('app_profil_edit') }}" class="btn-edit">Modifier mon profil</a>
	</div>
{% endblock %}
