{% extends 'base.html.twig' %}

{% block body %}
  <div class="page--produit">
    <div class="form-container">
      <h1>Ajouter un nouveau produit</h1>
      {{ form_start(form) }}
        {{ form_row(form.Nom) }}
        {{ form_row(form.Prix) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imageFile) }}
        <button type="submit">Ajouter</button>
      {{ form_end(form) }}
      <div class="link-container">
        <a href="{{ path('app_produit_index') }}">Retour à la boutique</a>
      </div>
    </div>
  </div>
{% endblock %}
