{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    h1 {
        text-align: center;
    }

    .product-details {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .product-details table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .product-details table th {
        text-align: left;
        padding: 8px;
        background-color: #e0e0e0;
    }

    .product-details table td {
        padding: 8px;
    }

    .back {
        text-align: center;
        text-decoration: none;
        color: inherit;
    }

    .back:hover {
        text-decoration: none; 
        font-weight: bold;
    }

    .add-to-cart-form {
        text-align: center;
    }

    .add-to-cart-form button {
        padding: 10px 20px;
        background-color: #BBBBBB;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .add-to-cart-form button:hover {
        color: white;
    }
</style>
{% endblock %}

{% block body %}
<div class="product-details">
    <h1>{{ produit.Nom }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Prix</th>
                <td>{{ produit.Prix }} €</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('produit/_delete_form.html.twig') }}

    <div class="add-to-cart-form">
            <button type="submit">Ajouter au panier</button>
        </form>
    </div>
</div>

<a class="back" href="{{ path('app_produit_index') }}">Retour à la boutique</a>
{% endblock %}
