{% extends 'base.html.twig' %}

{% block title %}Connexion — Checkers Elite
{% endblock %}

{% block body %}
	<div class="login-box">
		<h1>Connexion</h1>

		{% if error %}
			<div class="alert">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<form action="{{ path('app_login') }}" method="post">
			<div>
				<label for="username">Email</label>
				<input type="text" id="username" name="_username" value="{{ last_username|default('') }}" required autofocus>
			</div>
			<div>
				<label for="password">Mot de passe</label>
				<input type="password" id="password" name="_password" required>
			</div>
			<div>
				<button class="connexion" type="submit">Se connecter</button>
			</div>
			<input type="hidden" name="_target_path" value="/"/>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		</form>

		<p>Pas encore inscrit ?
			<a class="lien" href="{{ path('app_register') }}">S'inscrire ici</a>
		</p>
		<p>
			<a class="lien" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
		</p>
	</div>
{% endblock %}
