{# _form.html.twig #}
{{ form_start(form, { attr: { class: 'nova-form' } }) }}

{{ form_row(form.titre, {
  label: 'Titre',
  label_attr: { class: 'nova-label' },
  attr: { class: 'nova-input' }
}) }}

{{ form_row(form.contenu, {
  label: 'Contenu',
  label_attr: { class: 'nova-label' },
  attr: { class: 'nova-textarea' }
}) }}

{% if form.imageFile is defined %}
  {{ form_row(form.imageFile, {
    label: 'Image',
    label_attr: { class: 'nova-label' },
    attr: { class: 'nova-input' }
  }) }}
{% endif %}

{% for child in form %}
  {% if child.vars.name not in ['_token','titre','contenu','imageFile'] %}
    {% set cssClass = 'nova-input' %}
    {% if 'choice' in child.vars.block_prefixes %}
      {% set cssClass = 'nova-select' %}
    {% endif %}

    {{ form_row(child, {
      label_attr: { class: 'nova-label' },
      attr: { class: cssClass }
    }) }}
  {% endif %}
{% endfor %}

<button class="nova-btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
