{# templates/article/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/articles.css') }}">
{% endblock %}

{% block body %}
	<div class="page--articles">
		<div class="news-wrap">
			<div class="news-header">
				<h1>Tous nos contenus</h1>
				<a href="{{ path('app_article_new') }}" class="btn-primary">Écrire un article</a>
			</div>

			{% if articles is not empty %}
				<ul class="news-list">
					{% for article in articles %}
						<li class="news-item">
							<a
								href="{{ path('app_article_show', {'id': article.id}) }}" class="thumb">
								{# Image: VichUploader d'abord #}
								{% set img = vich_uploader_asset(article, 'imageFile') %}

								{% if img %}
									<img src="{{ img }}" alt="{{ article.titre }}" class="news-thumb">
								{% else %}
									<div class="thumb-placeholder">{{ article.titre|slice(0,1)|upper }}</div>
								{% endif %}
							</a>

							<div class="news-content">
								<time class="date">{{ article.date ? article.date|date('d MMM. Y') : '' }}</time>

								<h2 class="title">
									<a href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.titre }}</a>
								</h2>

								<p class="excerpt">
									{{ article.contenu|striptags|slice(0, 220) }}
									{% if article.contenu|striptags|length > 220 %}…
									{% endif %}
								</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<div class="news-empty">Aucun article trouvé.</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
